In [1]:
import json
import os
import pandas as pd
import matplotlib.pyplot as plt
import regex as re

In [11]:
old_gispy = "/Users/mahathi/Interest-in-humans-and-llms/data/complete_gispy_scores.csv"
all_texts = pd.read_csv(old_gispy)
all_texts = all_texts[['conversation_id', 'id', 'd_id', 'text']]
all_texts

,conversation_id,id,d_id,text
0,7,45939,007_45939.txt,"teacher: hi there <student>, all ok? student: ..."
1,7,45940,007_45940.txt,"teacher: yeah i'm good thanks, just been for a..."
2,7,45941,007_45941.txt,teacher: yeah? what did you do? i'll come back...
3,7,45942,007_45942.txt,teacher: ok i see ...too bad about the running...
4,7,45943,007_45943.txt,teacher: yes i realise it's not easy really! i...
...,...,...,...,...
6651,258,56386,258_56386.txt,teacher: but 'to loan' means 'to lend' student...
6652,258,56387,258_56387.txt,"teacher: banks loan money yes, exactly, it wou..."
6653,258,56388,258_56388.txt,"teacher: ooh, we're out of time! student: or m..."
6654,258,56389,258_56389.txt,"teacher: yes, absolutely! student: 13:59 on my..."
6655,258,56390,258_56390.txt,"teacher: loan is more formal! right, thank you..."

In [12]:
# for idx, row in all_texts.iterrows():
#     filename = row['d_id']
#     fp = os.path.join('/Users/mahathi/gispy2/GisPy/data/documents', filename)
#     with open(fp, 'w') as f:
#         f.writelines(row['text'])